@model IEnumerable<Entities.Category>


<h4>Alle categorieën</h4>
<ul>
</ul>

<ul class="list-group list-group-mine links">

    @foreach (var item in Model)
    {
        <li class="list-group-item"><a href="/shop/category/@item.Name.ToLower()">@item.Name</a></li>
    }
</ul>