table.table-sort tr:not(.home) {
    cursor: pointer;
}

.ui-state-highlight {
    border: 1px dashed  #4F282D;
}

.div.new-category {
    margin-top: 30px;
    position: relative;
}

span.ajax-photo {
    display: none;
}

table.table-sort.categories td {
    padding: 20px;
}

.msg-category-change {
    position: absolute; 
}

span.loader {
    display: none;
    
}

span.ajax-msg {
    background: green;
    color: white;
    padding: 10px;
    display: none;
    position: absolute;
    bottom: 0;
    margin-left: .90em;
}

.ajaxcart {
    position: relative;
    top: 5px;
}

.in-bl {
    display: inline-block !important;
}