@model IEnumerable<Entities.Category>

@{
    ViewBag.Title = "All Categories";
}

<h2>Alle categorieën</h2>

<div class="new-category">
    <input type="text" id="newcategoryname" />
    
    @*this anchor trigger ajax call*@
    <p>
        <a class="links" href="#" id="newcategorya">Nieuwe categorie toevoegen</a>
        <span class="ajax-photo">
            <img src="~/Content/img/ajax-loader.gif" />
        </span>
    </p>
</div>
@if (!Model.Any())
{
    <h1 class="text-center">Er zijn geen categorieën.</h1>
}
else
{
    <table class="table table-sort categories" id="pages">
        <tr class="home">
            <th>
                Naam
            </th>

            <th></th>
        </tr>
  
        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    <div class="msg-category-change"></div>
                    @Html.EditorFor(modelItem => item.Name, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </td>

                <td>
                    @Html.ActionLink("Verwijderen", "DeleteCategory", new { id = item.Id }, new { @class = "delete, links" })
                </td>
            </tr>
        }

    </table>
}

@section Scripts {


    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>

    <script>

        $(function () {

            var newCatA = $("a#newcategorya");
            var newCatTextInput = $("#newcategoryname");
            var ajaxText = $("span.ajax-photo");
            var table = $("table#pages tbody");

            newCatTextInput.keyup(function (e) {
                if (e.keyCode == 13) {
                    newCatA.click();
                }
            });

            newCatA.click(function (e) {
                e.preventDefault();

                var catName = newCatTextInput.val();

                if (catName.length < 2) {
                    alert("De categorienaam moet minimaal 2 tekens lang zijn.");
                    return false;
                }
                ajaxText.show();
                 

                var url = "/admin/shop/AddNewCategory";

                $.post(url,
                    { catName: catName },
                    function (data) {
                        var response = data.trim();

                        if (response == "titletaken") {
                            ajaxText.html("<span class='alert alert-danger'>Die titel is bezet!</span>");
                            setTimeout(function () {
                                ajaxText.fadeOut("fast",
                                    function () {
                                        ajaxText.html("<img src=/Content/img/ajax-loader.gif />");
                                    });
                            },
                                2000);
                            return false;
                        } else {
                            if (!$("table#pages").length) {
                                location.reload();
                            } else {

                                ajaxText.html("<span class='alert alert-success'>De categorie is toegevoegd!</span>");
                                setTimeout(function () {
                                    ajaxText.fadeOut("fast",
                                        function () {
                                            ajaxText.html("<img src=/Content/img/ajax-loader.gif />");
                                        });
                                },
                                    2000);
                                newCatTextInput.val("");

                                var toAppend = $("table#pages tbody tr:last").clone();
                                toAppend.attr("id", "id_" + data);
                                toAppend.find("#item_Name").val(catName);
                                toAppend.find("#item_Name").attr("href", "/admin/shop/DeleteCategory/");
                                table.append(toAppend);
                                table.sortable("refresh");
                            }
                        }
                    });
            });
            //------------------------------
            $("body").on("click", "a.delete", function () {
                if (!confirm("Weet u zeker dat u deze pagina wilt verwijderen ?")) return false;
            });

            //-------------------------------
            $("table#pages tbody").sortable({
                items: "tr:not(.home)",
                placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#pages tbody").sortable("serialize");

                    var url = "ReorderCategories";
                    //ajax call
                    $.post(url, ids, function (data) {
                    });
                }

            });

            //----------------------
            var textBox;

            $("table#pages input.text-box").dblclick(function() {
                textBox = $(this).val();
                $(this).attr("readonly", false);
            });

            $("table#pages input.text-box").keyup(function(e) {
                if (e.keyCode == 13) {
                    $(this).blur();
                }
            });

            $("table#pages input.text-box").blur(function() {
                var $this = $(this);
                 
                var msgCategoryChange = $this.parent().find(".msg-category-change");
                var newCategoryName = $this.val();

                var id = $this.parent().parent().attr("id").substring(3);
                var url = "EditCategory";

                if (newCategoryName.length < 2) {
                    alert("De categorienaam moet minimaal 2 tekens lang zijn.");
                    $this.attr("readonly", false);
                    return false;
                }

                $.post(url,
                    { newCategoryName: newCategoryName, id: id },
                    function(data) {
                        var response = data.trim();

                        if (response == "titleused") {
                            $this.val(textBox);
                            msgCategoryChange.html("<span class='alert alert-danger'>Deze titel is bezet!</span>").show();
                        } else {
                            msgCategoryChange.html("<span class='alert alert-success'>De categorie is bewerkt.</span>").show();
                        }
                        
                        setTimeout(function() {
                                msgCategoryChange.fadeOut("fast",
                                    function() {
                                        msgCategoryChange.html("");
                                    });
                            },
                            2000);
                    }).done(function() {
                    $this.attr("readonly", true);
                });
            });

        });

    </script>
}


